# schema: github-workflow

name: check-pre-commit-hooks
run-name: checking pre-commit hooks
on: [push, pull_request]
jobs:
  check-pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - uses: astral-sh/setup-uv@v7
      - name: Set up Python
        run: uv python install
      - uses: pre-commit/action@v3.0.0
      - uses: pre-commit-ci/lite-action@v1.0.1
        if: always()
